

/*Доплом проект верстка 2.0*/

.test1 {
    position: absolute;
  
   background-image: url('../img/t2.png');
   width: 1170px;
   height: 2980px;
   background-repeat: no-repeat;
   z-index: 10;
opacity: 0.4;
color: #fbfbfb;
filter: invert(100%);
 }

.fix-fon { 
    position: relative;
    left:10px;
    top: -2980px;
    width: 1175px;
    height: 2985px;
    padding: 0;
    margin: 0 auto;
    z-index: 10;
}

.test2 { 
    position: absolute;
    left: -115px;
   background: black solid 1px;
   background-color: blue;
   margin: 0px;
   
   background-image: url('../img/c1.gif');
   width: 90px;
   height: 80px;
   background-repeat: no-repeat;
   z-index: -10;
   opacity:.3;
 }

.fix-fon2 {
    background: black solid 2px;
    position: relative;
   
    top: 0px;
    left: 0;
    width: 90px;
    height: 80px;
    padding: 0;
    margin: 0 auto;
    z-index: -10px ;
}


html,
body {
    margin: 0;
    padding: 0;
    min-width: 320px;
    font-family: myriad-pro,sans-serif;
    height: auto;
    
}

*{
    box-sizing: border-box;
}

.fix-container {
    max-width: 1170px;
    height: 95%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    z-index: -1px ;
}

.fix-container-all {
    max-width: 1920px;
    
    height: 100%;
    padding: 0;
    margin: 0 auto;
    position: relative;
    z-index: -1px ;
   
}

.header {
    height: 100px;
    
    background-color:#fbfbfb;
   
}

.myfoto {
    min-height: 668px;
    max-height: auto;
    background-color: #fbfbfb;
}

.whatIdo {
    min-height: 645px;
    
    background-color: white;
}

.example {
    max-height: 860px;
    min-height: auto;
     background-color:#fbfbfb;
}

.ad {
   min-height: 360px;
}

.footer {
    min-height: 245px;
    background-color: #ffffff;
}

.footer2 {
    height: 80px;
    background-color: #31293c;
}




