



/*media*/
/*секция с фото*/

@media (max-width: 1800px) {

    .locate-foto__f1>div:nth-of-type(1)   {
       width: min-content;
        
    }
}

@media (max-width: 1200px) {

    .locate-foto__divfix {
        display: none;
    }
    
 .f2 {
    display: flex;
    position: relative;
   left: -10%;
   top: 32px;
   z-index: 10;
}
.f3 {
    display: flex;
    position: relative;
   right:-500px;
   top: 32px;
   z-index: 0;

}
    .locate-foto__f2andf3 {
        display: flex;
        flex-direction: row-reverse;
        flex-grow: 1000;
   
        min-height: 100px;
        min-width: 100px;
        z-index: 2;
        max-width: 100%;
        width: auto;
    }
    .divfix2 {
        display: flex;
        flex-grow: 1000;
      
        min-height: 100px;
        min-width: 100px;
        z-index: 2;
      
        
    }
   
    
    .myfoto {
        min-height: 668px;
        max-height: 910px;
        background-color: #fbfbfb;
    }
    .locate-foto__f1 {
        margin: 20px 0 0 0;
        top: 0;
    }
    .locate-foto__f1>div:nth-child(1) {
        font-size: 30px;
        width: max-content;
    }
    .locate-foto__f1>div:nth-child(2) {
        display: flex;
        font-size: 16px;
        color: #8993ad;
        font-weight: normal;
        text-align: center;
        padding-top: 20px;
    }
    .locate-foto__f1>button {
        margin: 20px 0;
        
        height: 0 ;
        width: 0 ;
    }
    .buttonname, .outlinename {
        margin: 20px;
    
    }
    .locate-foto {
        flex-direction:column-reverse !important;
        flex-wrap:nowrap !important;
        justify-content:center !important;
        align-items:center !important;
        align-content:center !important;
        display:flex;
        background-color: #fbfbfb;
        overflow: hidden;
    }
    
    .locate__icons {
        margin: 80px 0 ;
        width: 100%;
        min-height: auto;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        zoom:1.5;
    }
    .locate__display {
        margin: 80px 0 ;
        min-width: 100% !important;
        min-height: 450px;
       
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .locate__display > div:nth-child(-n+3){
      display: none;
    }
    .locate__h1example {
        max-width: 250px !important;
        
     font-size: 30px;
     font-family: myriad-pro,sans-serif;
     font-weight: bold;
     font-style: normal;
     text-align: center;
    }
 

    .tegi-top, .tegi-bottom, .tegi-bottom2  {
        display: none;
      }

     


 
}



@media (max-width: 1000px) {
  
 
 
.locate-row__hed1 {
    display: none;
}
.locate-row__hed2 {
    min-width: 100% ;
    
    
}
.mobile {
 font-size: 18px ; 
 padding-top: 10px;  
}

.locate-row__hed2 button {
    display: none;
}
.gamburger {
   display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
 height: 20px !important;
 width: 25px;
border: midnightblue;
margin: 0px;
z-index: 20;
background: url('../img/gamburger.gif'); 
margin-left: 20px;
zoom:2;
}
.disabled {
    display: unset !important;
}
.trubacol {
    display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
  height: 28px !important;
  width: 28px;
 border: midnightblue;
 margin: 0px;
 z-index: 20;
 background: url('../img/trubacol.gif'); 
 margin-right: 20px;
 zoom:2;
 }


}


@media (max-width: 1000px) {
.locate__display > div:nth-child(-n+4){
    display: none;
  }
}


@media (max-width: 750px) {
 
 
   
    .locate-ad {
        display: flex;
        justify-content: center;
        align-items: center;
    }
.locate-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.locate-ad div:nth-child(1) {
    font-size: 25px;
    color: white;
    position: relative;
    margin-top: 80px;
    z-index: 1;
    margin-bottom: 50px;
    width: 250px;
   
  
}

.locate-ad div:nth-child(2) {
    position: relative;

right: 0;
    width: 250px;
    font-size: 15px;
    color: white;
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
}

}

@media (max-width: 600px) {

 
    .locate-ad div:nth-child(1) {
        font-size: 25px;
        color: white;
        position: relative;
        margin-top: 80px;
        z-index: 1;
        margin-bottom: 50px;
        width: 250px;
        
    }
    
    .locate-ad div:nth-child(2) {
        position: relative;
    
    right: 0;
        width: 250px;
        font-size: 15px;
        color: white;
        position: relative;
        z-index: 1;
        margin-bottom: 80px;
    }
    
    }



